<!DOCTYPE html>
<html>
  <head>
    <title>bank-app-parser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= inertia_ssr_head %>
    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application.jsx" %>
  </head>
  <body><%= yield %></body>
</html>
